<!DOCTYPE html>
<html>
	<head>
		<% _.each(categories, function(cat) { %>
		<title><%= cat.name %></title>
		<% }); %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<header id="header" class="">
			<nav class="navbar menuTop navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">Project Title</a>
					</div>
					<div id="navbar" class="collapse navbar-collapse">
						<ul class="navbar-right">
						<% menu.forEach(function(men) { %>
							<a href="/category/<%= men.id %>" class="catBtn"><%= men.name %></a>
						<% }); %>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		
		<div class="container breadcrumb">
			<a href="/">Home</a>
			<span>/</span>
			<% _.each(categories, function(cat) { %>
			<a href="/<%= cat.id %>"><%= cat.name %></a>
			<% }); %>
		</div>
		
		
		<div class="container">
			<ul>
				<% _.each(categories, function(cat) { %>
				<li>
					<div class="spacer"></div>
					<% if (cat.image) { %>
					<div>
						<img src="/images/<%= topC.image %>">
					</div>
					<% } %>
					<h1><%= cat.name %></h1>
					<p><%= cat.page_description %></p>
					
					<div>
						<ul>
							<% _.each(cat.categories, function(subC) { %>
								<li>
									<div class="spacer"></div>
								<% if (subC.image) { %>
								<div>
									<img src="/images/<%= subC.image %>">
								</div>
								<% } %>
								<h2><%= subC.name %></h1>
								<p><%= subC.page_description %></p>
								<div>
									<ul>
										<% _.each(subC.categories, function(subD) { %>
										<li>
											<div class="spacer"></div>
											<% if (subD.image) { %>
											<div>
												<img src="/images/<%= subD.image %>">
											</div>
											<% } %>
											<h2><%= subD.name %></h1>
											<p><%= subD.page_description %></p>
											<div class="spacer"></div>
											<% categories.forEach(function(cat) { %>
												<a href="/category/<%= cat.id %>/products/<%= subD.id  %>" class="btnProd">View products</a>
											<% }); %>
											<div class="spacer"></div>
											<div class="hr"></div>
										</li>
										<% }); %>
									</ul>
								</div>
							</li>
							<% }); %>
						<% }); %>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<footer class="container copyright">
			<h6>Copyright 2013 OSF Global Services</h6>
		</footer>
	</body>
</html>