<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<!-- Latest compiled and minified CSS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>

	
	<body>
	<header id="header" class="">
		<nav class="navbar menuTop navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Project Title</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="navbar-right">
					<% categories.forEach(function(cat) { %>
						<a href="/category/<%= cat.id %>" class="catBtn"><%= cat.name %></a>
					<% }); %>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>
	</header>
		<div class="container breadcrumb">
			<a href="/">Home</a>
		</div>

		<center>
			<img src="/images/indexImage.jpg"> 
		</center>
		
		<footer class="container copyright">
			<h6>Copyright 2013 OSF Global Services</h6>
		</footer>

	
	
		</body>
	</html>