<!DOCTYPE html>
<html>
	<head>
	<% _.each(pdp, function(pdpcat) { %>
		<title><%= pdpcat.name %></title>
		<% }); %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script src="/javascripts/valutar.js"></script>
	</head>

	
	<body onload="makeCall()">
	<header id="header" class="">
			<nav class="navbar menuTop navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">Project Title</a>
					</div>
					<div id="navbar" class="collapse navbar-collapse">
						<ul class="navbar-right">
						<% menu.forEach(function(men) { %>
							<a href="/category/<%= men.id %>" class="catBtn"><%= men.name %></a>
						<% }); %>
						</ul>
					</div>
				</div>
			</nav>
		</header>

	<div class="container breadcrumb">
			<a href="/">Home</a>
			<% _.each(categories, function(cat) { %>
			<span>/</span>
			<a href="/category/<%= cat.id %>"><%= cat.name %></a>
			<% }); %>
			<span>/</span>
			<% _.each(categories, function(cat) { %>
			<a href="/category/<%= cat.id %>/products/<%= subprod %>"><%= subprod %></a>
			<% }); %>
			<span>/</span>
			<a href="#"><%= productId %></a>
		</div>

			<div class="container">
			<div class="col-xs-6 col-sm-6 col-lg-6">
				<% _.each(pdp, function(pdpsubcat) { %>
				<% for (var i = 0; i < pdpsubcat.image_groups.length; i++) {%>
					<% if (pdpsubcat.image_groups[i].view_type == 'large') { %>
						<img src="/images/<%= pdpsubcat.image_groups[i].images[0].link %>">
					<% } %>
				<% break;} %>
				</div>
				<div class="col-xs-6 col-sm-6 col-lg-6 subcategory">
				<h2><%= pdpsubcat.name %></h2>
				<p><%= pdpsubcat.long_description %></p>
				<p>Price:</p>
				<p id="resultedPrice"><%= pdpsubcat.price %></p>
				<select id="valutar">
				<option selected disabled>USD</option>
                </select>
                <a href="#" class="btnProd">Buy Now</a>
				<% }); %>
				</div>
			</div>
				
		<footer class="container copyright">
			<h6>Copyright 2013 OSF Global Services</h6>
		</footer>

	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		</body>
	</html>