<!DOCTYPE html>
<html>
	<head>
		<title><%= subprod %></title>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<header id="header" class="">
			<nav class="navbar menuTop navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">Project Title</a>
					</div>
					<div id="navbar" class="collapse navbar-collapse">
						<ul class="navbar-right">
						<% menu.forEach(function(men) { %>
							<a href="/category/<%= men.id %>" class="catBtn"><%= men.name %></a>
						<% }); %>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		
		<div class="container breadcrumb">
			<a href="/">Home</a>
			<% _.each(categories, function(cat) { %>
			<span>/</span>
			<a href="/category/<%= cat.id %>"><%= cat.name %></a>
			<% }); %>
			<span>/</span>
			<% _.each(categories, function(cat) { %>
			<a href="/category/<%= cat.id %>/products/<%= subprod %>"><%= subprod %></a>
			<% }); %>
		</div>


			
			<div class="container">
				<% _.each(subcategory, function(subcat) { %>
					<div class="col-xs-6 col-sm-6 col-lg-6">
						<div class="col-xs-6 col-sm-6 col-lg-6">
							<% for (var i = 0; i < subcat.image_groups.length; i++) {%>
							  	<% if (subcat.image_groups[i].view_type == 'medium') { %>
								<img src="/images/<%= subcat.image_groups[i].images[0].link %>">
								<% break;} %>
							<% } %>
							<div class="spacer"></div>
						</div>	
						
						<div class="col-xs-6 col-sm-6 col-lg-6 subcategory">
							<h4><%= subcat.name %></h4>
							<p><%= subcat.page_description %></p>
							<p>Price: $ <%= subcat.price %></p>
							<div class="spacer"></div>
							<a href="/category/<%= cat %>/products/<%= subprod %>/<%= subcat.id %>" class="btnProd">More Info</a>
							<div class="spacer"></div>
						</div>
					</div>
				<% }); %>
			</div>
			<footer class="container copyright">
				<h6>Copyright 2013 OSF Global Services</h6>
			</footer>
		</body>
	</html>