body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul{
	list-style-type: none;
}

.hiddenValue{
	visibility: hidden;
}

.subcategory p{
	float: left;
	padding-right: 20px;
}

.menuTop{
	border: 5px solid black;
}

.navbar-brand{
	font-size: 36px;
	color: black;	
}

.catBtn{
	color: black;
	background-color: #e6e6ff;
	border-radius: 20px;
	padding: 10px;
	font-size: 20px;
}

.catBtn:hover{
	color: white;
	background-color: red;
	border-radius: 20px;
	padding: 10px;
	font-size: 20px;
	text-decoration: none;
}

.navbar-right{
	margin-top: 13px;
}

.btnProd{
	color: black;
	background-color: #e6e6ff;
	border-radius: 15px;
	border: 1px solid black;
	font-size: 15px;
	padding: 5px;
}

.spacer{
	margin-top: 20px;
}

.breadcrumb{
	margin-top: 10px;
	background-color: white;
}

.hr{
	border-top: 2px solid black;
}

.mainCat h2{
	color: red;
}

.mainCat p{
	margin-top: 30px;
	font-size: 15px;
	margin-bottom: 70px;
}

.catSub{
	color: red;
	margin-bottom: 30px;
}

.copyright h6{
	float: right;
}